@charset "UTF-8";
/*dimension de l'écran*/
@keyframes coeur {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  78% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

/*@function animation_coeur {
    @if (opacity:0) {
        @return animation: coeur 300ms both;
    }
    @else (opacity:1) {
        @return animation: coeur 300ms both reverse;
    }
}*/
@font-face {
  font-family: "shrikhand";
  src: url(../../police/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../../police/Roboto/Roboto-Regular.ttf);
}

.bouton_commander {
  /*background-image: linear-gradient(170deg, $couleur_secondaire 0, $couleur_primaire 100%);*/
  /*box-shadow: 6px 6px 6px $couleur_ombre;*/
  box-shadow: 6px 6px 6px #cac3c3;
  padding: 15px 20px;
  margin: 60px;
  display: inline-flex;
  border-radius: 50px;
  background: linear-gradient(170deg, #ff79da 0, #ff79da 10%, #9356DC 100%);
}

.bouton_commander:link {
  color: white;
}

.bouton_commander:visited {
  color: white;
}

.bouton_fonctionnement {
  background-color: #f2f2f2;
  box-shadow: 6px 6px 6px #cac3c3;
  width: 85%;
  padding: 30px 0 30px 0;
  margin: 10px 0;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

.bouton_fonctionnement_numero {
  color: white;
  background: #9356DC;
  border-radius: 50%;
  padding: 3px 10px;
  position: relative;
  right: 15px;
}

.bouton_fonctionnement_illustration {
  color: #cac3c3;
  padding: 0 30px 0 10px;
}

.bouton_fonctionnement_illustration_store {
  color: #9356DC;
  padding: 0 30px 0 10px;
}

.bordure_degradee {
  background: linear-gradient(#bdb0b0 0, #ddcdcd 90%, #d9d9d9 100%);
  height: 4px;
}

.carte_conteneur_aimer {
  color: #9356DC;
  position: relative;
  bottom: 117px;
  left: 283px;
  opacity: 0.5;
  z-index: 1;
}

.carte_conteneur_aimer:hover {
  cursor: pointer;
}

.carte_conteneur_aimer:active {
  animation: coeur 300ms both;
}

.menu_conteneur_carte_restaurant_aimer {
  bottom: 71px;
  left: 709px;
}

.menu_conteneur_carte_restaurant_bordure {
  background: #99e2d0;
  height: 5px;
  width: 75px;
}

body {
  font-family: roboto;
  max-width: 768px;
  margin: 5px 0 0 0;
  font-size: x-large;
}

h1 {
  font-family: shrikhand;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

header {
  display: flex;
  justify-content: center;
}

header .renvoie {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 15px;
  right: 140px;
}

header, nav, .fonctionnement {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #737373;
  padding: 0 35px;
  padding-bottom: 40px;
}

footer a {
  padding-bottom: 10px;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

.footer_logo {
  font-family: shrikhand;
  color: white;
}

.footer_couverts {
  padding-right: 10px;
}

.footer_mains {
  padding-right: 10px;
  width: 20px;
}

h3 {
  margin-bottom: 5px;
  /*padding: $padding_texte;*/
}

header .masque {
  position: relative;
  right: 500px;
  /*Pour faire partir l'icône de retour page principale*/
}

nav {
  background-color: #f2f2f2;
}

nav .nav_localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  padding: 15px 0;
}

nav .nav_localisation_paris {
  padding-left: 15px;
}

nav p {
  padding: 0 35px;
}

nav h2 {
  padding: 0 70px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}

.fonctionnement_titre {
  padding: 0 35px;
  text-align: left;
}

.fonctionnement_explication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carte {
  background-color: #f2f2f2;
  margin-top: 70px;
  padding-bottom: 70px;
}

.carte_titre {
  padding: 0 35px;
  padding-top: 40px;
}

.carte_conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carte_conteneur img {
  width: 100%;
  object-fit: contain;
  border-radius: 30px 30px 0 0;
  /*transform: translateY(-25%);*/
  /*Bonne solution pour recadrer une image?*/
}

.carte_conteneur_restaurant {
  width: 90%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.carte_conteneur_restaurant_image {
  max-height: 350px;
  overflow: hidden;
}

.carte_conteneur_restaurant_identification {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.carte_conteneur_restaurant_identification_texte {
  padding-left: 20px;
}

.carte_conteneur_restaurant_identification_texte_nom {
  margin: 10px 10px 10px 0;
}

.carte_conteneur_restaurant_identification_coeur {
  padding-right: 50px;
}

.menu_conteneur_image {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.menu_conteneur img {
  width: 100%;
  object-fit: contain;
}

.menu_conteneur_carte {
  position: absolute;
  z-index: 1;
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 768px;
  top: 575px;
}

.menu_conteneur_carte_restaurant {
  padding: 0 35px;
}

.menu_conteneur_carte_restaurant_identification {
  display: flex;
  justify-content: space-between;
}

.menu_conteneur_carte_restaurant_identification_nom {
  font-family: shrikhand;
  /*padding: $padding_texte;*/
}

.menu_conteneur_carte_restaurant_identification_coeur {
  align-items: center;
  display: flex;
  /*padding: $padding_texte;*/
}

.menu_conteneur_carte_restaurant_carte {
  background-color: white;
  box-shadow: 6px 6px 6px #cac3c3;
  border-radius: 30px;
  padding: 0 35px;
  margin-top: 20px;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  height: 100px;
}

.menu_conteneur_carte_restaurant_carte_plat {
  font-weight: bolder;
}

.menu_conteneur_carte_restaurant_carte_prix {
  display: flex;
  justify-content: space-between;
}

.menu_conteneur_carte_restaurant_commander {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */