body {
    font-family: $police_texte;
    width: 100%;
    margin: 5px 0 0 0;
    font-size: x-large;
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-family: $police_titre;
}

a {
    text-decoration: none;
    &:link {
        color: $couleur_lien_fonce;
    }
    &:visited {
        color: $couleur_lien_fonce;
    }
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    & .renvoie {
        display: flex;
        align-items: center;
        font-family: $police_titre;
        padding: $padding_texte;
    }
    & p {
        opacity: 0;
        position: absolute;
        z-index: -1;
        padding: $padding_texte;
    }
}

.droite_header {
    height: 100px;
    width: 100px;
}

header, nav, .fonctionnement{
    text-align: center;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color:  darken($color: $couleur_fond, $amount: 50%);
    padding: $padding_texte;
    padding-bottom: 40px;    
    & a {
        padding-bottom: 10px;
        &:link {
            color: $couleur_lien_clair;
        }
        &:visited {
            color: $couleur_lien_clair;
        }
    }       
}

.footer {
    &_logo {
        font-family: $police_titre;
        color: $couleur_lien_clair;
    }
    &_couverts {
        padding-right: 10px;     
    }
    &_mains {
        padding-right: 10px;
        font-size: 18px;
    }
}

h3 {
    margin-bottom: 5px;
    /*padding: $padding_texte;*/
}