.bouton_commander {
    @include bouton_commander;
}

.bouton_fonctionnement {
    @include bouton_fonctionnement;
    display: flex;
    flex-direction: row;
    &_numero {
       @include fonctionnement_numero;
    }
    &_illustration {
        color:$couleur_ombre;
        padding: 0 30px 0 10px;
        &_store {
            color: $couleur_primaire;
            padding: 0 30px 0 10px;
        }
    }
}

.bordure_degradee {
    @include bordure_degradee;
}

.carte {
    &_conteneur {
        &_aimer {
            color: $couleur_primaire;
            position: relative;
            bottom: 148px;
            left: 284px;
            transform-origin: 0% 0%;
            transition: transform 1000ms ease-in;
            transform: scaleY(0);          
            &:hover {
                cursor: pointer;
                transform: scale(21);              
            }
        }
        &_bouton {
            &:active + .carte_conteneur_aimer {
                    transform: scaleY(1.3);
                    animation: forwards reverse;
                    scale: -1;
            }
        }
        
    }
}

.contenaire_test {
    color: $couleur_primaire;
    transform-origin: 0% 0%;
    transition: transform 1000ms ease-in;
    transform: scale(0.5);
    
}

.bouton_test {
    &:active + .contenaire_test {
        /*transform: scale(1.1);*/
        animation: test both;
    }
}

@keyframes test {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1.1);
    }
}