.bouton_commander {
    @include bouton_commander;
    &:link {
        color: $couleur_lien_clair;
    }
    &:visited {
        color: $couleur_lien_clair;
    }
    &:hover {
        filter: brightness(120%);
    }
}

.bouton_fonctionnement {
    @include bouton_fonctionnement;
    display: flex;
    flex-direction: row;
    &_numero {
       @include fonctionnement_numero;
    }
    &_illustration {
        color:$couleur_ombre;
        padding: 0 30px 0 10px;
    }
    &_texte {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &:hover {
        background-color: darken($couleur_fond, 3%);
        & > .bouton_fonctionnement_illustration {
            color: $couleur_primaire
        }
    }
}

.bordure_degradee {
    @include bordure_degradee;
}

.carte_conteneur_restaurant_identification_coeur_animation {
    top: 0px;
    left: 0px;       
    @include remplissage_coeur;
    &:hover {
        cursor: pointer;
        animation: coeur 300ms both;
    }
    &:active {
        animation: coeur 300ms both;   
    }
}

.menu_conteneur_carte_restaurant_identification_coeur_aimer {
    bottom: 40px;
    left: 0px;
    @include remplissage_coeur;         
    &:hover {
        cursor: pointer;                  
    }
    &:active {
        animation: coeur 300ms both;
    }
}

.menu_conteneur_carte_restaurant_bordure {
    @include bordure_menu;
}