@font-face {
    font-family: "shrikhand";
    src: url(../../police/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../../police/Roboto/Roboto-Regular.ttf);
}