.menu {
    &_conteneur {      
        &_image {
            position: relative;
            max-height: 500px;
            overflow: hidden;
        }
        & img {
            width: 100%;
            object-fit: contain;
        }
        &_carte {
            position: absolute;
            z-index: 1;
            background-color: $couleur_fond;
            border-radius: 30px;
            width: $mobile;
            top: 575px;
            width: 100%;
            &_restaurant {
                padding: $padding_texte;
                position: relative;
                &_identification {
                    display: flex;
                    justify-content: space-between;
                    &_nom {
                        font-family: $police_titre;
                        /*padding: $padding_texte;*/
                    }
                    &_coeur {
                        align-items: center;
                        display: flex;
                        /*padding: $padding_texte;*/
                    }
                }
                &_carte {
                    @include carte_menu;
                    &_plat {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        overflow: hidden;
                        flex-grow: 1;
                        &_intitulé {
                            font-weight: bolder;
                        }  
                    }
                    &_prix {
                        display: flex;
                        align-items: flex-end;
                        padding-bottom: 5px;
                        width: 50px;
                    }
                }
                &_commander {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}