@media screen and (min-width: $ordinateur) {

    /*index.htlm*/
    .animation .centrage {
        bottom: 1150px;
    }

    .bouton_fonctionnement {
        width: 30%;
    }

    .carte_conteneur {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &_restaurant {
            width: 45%;
            margin: 15px;
        }
    }

    /*menu.html*/
    .fa-arrow-left {
        opacity: 0;
    }
    header {
        & p {
            z-index: 1;
            opacity: 1;
        }
    }

    .menu_conteneur_carte_restaurant_carte {
        width: 30%;
    }

    .ordinateur {
        display: flex;
        justify-content: space-between;
    }
}