@media screen and (min-width: 1200px) {

    /*index.htlm*/
    .bouton_fonctionnement {
        width: 30%;
    }

    .carte {
        &_conteneur {
            flex-wrap: wrap;
            justify-content: center;
            &_restaurant {
                width: 45%;
                margin: 15px;
            }
        }
    }

    /*menu.html*/
    .fa-arrow-left {
        opacity: 0;
    }
    header {
        & p {
            z-index: 1;
            opacity: 1;
        }
    }

    .menu {
        &_conteneur {
            &_carte {
                &_restaurant {
                    &_carte {
                        width: 30%;
                    }
                }
            }
        }
    }

    .ordinateur {
        display: flex;
        justify-content: space-between;
    }
}