/*keyframes*/

@keyframes coeur {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    78% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes loader_fond {
    95% {
        opacity: 0.9;
    }
    99% {
        opacity: 0.5;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}

@keyframes loader_bouteille {
    25% {
        transform: scaleY(0.95);
    }
    50% {
        transform: scaleY(0.9);
    }
    75% {
        transform: scaleY(0.85);
    }
    100% {
        transform: scaleY(0.8);
    }
}

@keyframes loader_verre {
    0% {
        transform: scaleY(0);
    }
    25% {
        transform: scaleY(0.2);
    }
    75% {
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(0.9);
    }
}

@keyframes valide {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}

@keyframes cercle_roule {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1);
    }
}