$police_titre: shrikhand;
$police_texte: roboto;

$couleur_primaire: #9356DC;
$couleur_secondaire: #ff79da;
$couleur_terciaire: #99e2d0;
$couleur_fond: #f2f2f2;
$couleur_ombre: #cac3c3;
$couleur_lien_clair: white;
$couleur_lien_fonce: black;

$mobile: 768px; /*dimension de l'écran*/
$tablette: 992px;

$padding_texte: 0 35px;