$police_titre: shrikhand;
$police_texte: roboto;

$couleur_primaire: #9356DC;
$couleur_secondaire: #ff79da;
$couleur_terciaire: #99e2d0;
$couleur_fond: #f2f2f2;

$mobile: 720px; /*dimension de l'écran*/